<p>
  reimbursement-list works!
</p>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Reimbursement List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Reason</th>
          <th>Amount</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let reimbursement of reimbursements | async">
          <td>{{reimbursement.title}}</td>
          <td>{{reimbursement.reason}}</td>
          <td>{{reimbursement.amount}}</td>
          <td>{{reimbursement.status}}</td>
          <td><button (click)="deleteReimbursement(reimbursement.id)" class="btn btn-danger">Delete</button>
            
            <button (click) = "updateReimbursement (reimbursement.id)" class = "btn btn-primary"> Update</button>
            <button (click)="reimbursementDetails(reimbursement.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
